<html>


<head>

    <meta property="og:site_name" content="vizutil.js" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <!--<meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />-->

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">
    <script src="lib/geo_util.js"></script>
    <script src="lib/geom_util.js"></script>
    <script src="lib/hex_util.js"></script>
    <script src="lib/math_util.js"></script>
    <script src="lib/svg_util.js"></script>

</head>


<body>

<nav>
    <h1>vizutil.js</h1>

    <ul>
        <li><a href="splitbezier.html">Split Bezier</a></li>
        <li><a href="cspline.html">Catmull-Rom Spline</a></li>
        <li><a href="intersect.html">Line Intersection</a></li>
    </ul>
    <ul>
        <li><a href="https://github.com/noelb/vizutil.js">Github</a></li>
        <li><a href="http://dncompute.com">Author</a></li>
    </ul>
</nav>

<section>
<h1>{{ page.title }}</h1>
<p>
{{ content }}
</p>

<footer>
    <a href="https://github.com/noelb/vizutil.js">View on GitHub</a><br/>
    Licensed under the <a href="TODO:License link here">MIT License</a>
</footer>

</section>


</body>


</html>